<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <title>
    Weekly Planner
  </title>
  <link href="./../../public/stylesheets/planner.css" rel="stylesheet" type="text/css"/>
  <script src="./../../public/scripts/main.js"></script>
</head>
<body>
  <div class="a">
    <div class="grid-container-week">
      <div class="item1" style="padding-top: 5%">
        <strong>Weekly Summary</strong>
      </div>
      <div class="item2-week">
        <button id="popup" onclick="div_show()" class="task-btn" style="width: 100%">
          Create task
        </button>    
        <div id="abc">
          <div id="popupContact"> <!-- Popup div starts here -->
            <form action="/" id="form" method="post" name="form"> <!-- Task creation form -->
              <img id="close" src="images/close.png" onclick ="div_hide()">
              <h2>Task Information</h2>
              <hr>
              <select name="day_id">
                <option value="1">Monday</option>
                <option value="2">Tuesday</option>
                <option value="3">Wednesday</option>
                <option value="4">Thursday</option>
                <option value="5">Friday</option>
                <option value="6">Saturday</option>
                <option value="7">Sunday</option>
              </select>
              <input id="course" name="course" placeholder="Class" type="text">
              <textarea id="description" name="description" placeholder="Task description">
              </textarea>
              Due time:
              <br>
              <input id="due" name="due" type="time"> 
              <br> 
              <br>
              Estimated work time (hours):
              <br>
              <input id="work_time" name="work_time" type="number" step="0.5"> 
              <br> 
              <br>
              <a href="javascript:%20check_empty()" id="submit">
                Create task
              </a>
            </form>
          </div> <!-- Popup div ends here -->
        </div>
        <div>      	
          <button id="popup" onclick="div_show2()" class="task-btn" style="width: 100%; margin-top: 1%">
            Update available time
          </button>      
          <div id="abc2">
            <div id="popupContact"> <!-- Popup div starts here -->
              <form action="/" id="form2" method="post" name="form2"> <!-- Available time update form -->
                <img id="close-time" src="images/close.png" onclick ="div_hide2()">
                <h2>Update Available Time</h2>
                <hr>
                <select name="day_id">
                  <option value="1">Monday</option>
                  <option value="2">Tuesday</option>
                  <option value="3">Wednesday</option>
                  <option value="4">Thursday</option>
                  <option value="5">Friday</option>
                  <option value="6">Saturday</option>
                  <option value="7">Sunday</option>
                </select>
                <br/>
                <br/>
                Estimated available time (hours):
                <br/>
                <input id="available_time" name="available_time" type="number" step="0.5"> 
                <br/><br/>
                <a href="javascript:%20check_empty2()" id="submit">
                  Update available time
                </a>
              </form>
            </div>
          </div> <!-- Popup Div Ends Here -->
        </div>  
      </div>
      <div class="item3-week">
        <button id="btnUpdate" onclick="update()" class="update-btn" style="width: 100%; height: 100%">
          Update summary            
        </button>
      </div>      
      <div class="item4">

      </div>
      <div class="item5">
        <strong>Total work time for week</strong>:
        <div style="float: right" id="week-work-time" class="time-value">
          --
        </div>
      </div>
      <div class="item6">
        <strong>Total available time for week</strong>:
        <div style="float: right" id="week-available-time" class="time-value">
          --
        </div>
      </div>
      <div class="item7">
        <strong><em>Total</em> time for week</strong>:
        <div style="float: right" id="week-total-time" class="time-value">
          --
        </div>
      </div>
    </div>
    <hr class="hr-week">
    <br>
  </div>
  <% for(var i = 0; i < Object.keys(days).length; i++) { %>
    <div class="grid-container">
      <div class="item1" style="padding-top: 3%; padding-bottom: 3%">
        <strong><%= days[i + 1].name %></strong>
      </div>
      <div class="item2">

      </div>
      <div class="item3">

      </div>        
      <div class="item4">
        <% for(var j = 0; j < daysAndTasks.length; j++) { %>
          <% if (daysAndTasks[j].day_id == i + 1 && daysAndTasks[j].task_id != null) { %>
            <div style="padding-bottom: 1%; padding-top: 1%; border-bottom: 1px dotted black">
              <strong>Class</strong>: <%= daysAndTasks[j].class %>                           </br> 
              <strong>Task</strong>: <%= daysAndTasks[j].description %>                      </br>
              <strong>Due time</strong>: 
              <% if (daysAndTasks[j].due_time.split(':')[0] < 12) { %>
                <%= daysAndTasks[j].due_time.split(':')[0] + ":" + daysAndTasks[j].due_time.split(':')[1] + " AM" %>
              <% } else { %>
                <%= (daysAndTasks[j].due_time.split(':')[0] - 12) + ":" + daysAndTasks[j].due_time.split(':')[1] + " PM" %>
              <% } %>                     
              </br>
              <strong>Estimated work time</strong>: <%= daysAndTasks[j].total_work_time %>  
              <div style="float: right">
                  <form action="/" method="post">
                    <input type="hidden" name="task_id" value=<%= daysAndTasks[j].task_id %>>
                    <input type="submit" value="Remove task" class="remove-btn">
                  </form>
              </div>
            </div> 
          <% } else if (daysAndTasks[j].day_id == i + 1 && daysAndTasks[j].task_id == null) { %>
            <em>No tasks to display.</em>
          <% } %>        
        <% } %>
      </div>
      <div class="item5">
        <strong>Estimated work time</strong>:
        <div style="float: right" class="time-value">
          <%= days[i + 1].total_work_time_day %>
        </div>
      </div>
      <div class="item6">
        <strong>Estimated available time</strong>:
        <div style="float: right" class="time-value">
          <%= days[i + 1].total_available_time_day %>
        </div>
      </div>
      <div class="item7">
        <strong>Estimated <em>total</em> time</strong>:
        <div style="float: right" class="time-value">
          <% if ((days[i + 1].total_available_time_day - days[i + 1].total_work_time_day) > 0) { %>
            <span style="color: green">
              <%= "+" + (days[i + 1].total_available_time_day - days[i + 1].total_work_time_day) %>
            </span>
            <% } else if ((days[i + 1].total_available_time_day - days[i + 1].total_work_time_day) < 0) { %>
              <span style="color: red">
                <%= (days[i + 1].total_available_time_day - days[i + 1].total_work_time_day) %>
              </span>
            <% } else if ((days[i + 1].total_available_time_day - days[i + 1].total_work_time_day) == 0) { %>
                <%= (days[i + 1].total_available_time_day - days[i + 1].total_work_time_day) %>
            <% } %>
        </div>
      </div>
    </div>
  <% } %>
  <script>
    // Validating empty fields
    function check_empty() {
      if (document.getElementById('course').value == "" || document.getElementById('description').value == "" || 
          document.getElementById('due').value    == "" || document.getElementById('work_time').value   == "") {
        alert("Please fill all fields before submitting");
      } else {
        document.getElementById('form').submit();
      }
    }

    // Displaying popup
    function div_show() {
      document.getElementById('abc').style.display = "block";
    }

    //Hiding popup
    function div_hide(){
      document.getElementById('abc').style.display = "none";
    }
    
    // Validating empty fields
    function check_empty2() {
      if (document.getElementById('available_time').value == "") {
        alert("Please fill all fields before submitting");
      } else {
        document.getElementById('form2').submit();
      }
    }

    // Displaying popup
    function div_show2() {
      document.getElementById('abc2').style.display = "block";
    }

    //Hiding popup
    function div_hide2(){
      document.getElementById('abc2').style.display = "none";
    }
  </script>
</body>
</html>